<%= form_with model: @ingredient do |form| %>
  <%= form_field_with(form, :name, :text_field, ) %>
  <%= form_field_with(form, :price, :text_field, help_text: 'price per one unit') %>
  <%= form_field_with(form, :unit, :text_field, help_text: '単位') %>
  <div class="controll">
    <%= form.submit class: 'button is-primary' %>
  </div>
<% end %>