<!DOCTYPE html>
<html lang="ja">
<head>
  <title>R</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_tag nonce: true do -%>
    // alert('All is good')
  <% end -%>

  <%#  If you use Vue.js, I reccomend to remove turbolinks %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%#= javascript_pack_tag 'app_vue' %>
</head>

<body>
<%# Header %>
<%= render 'layouts/header' %>
<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'layouts/side_menu' %>
      <div class="column is-9">
        <div class="content is-medium">
          <%# ここにコンテンツを記載 %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'layouts/footer' %>
</body>

<%# 仮置き %>
<%# TODO(kkiyama117): move to js file %>
<%# font %>
<script defer src="https://kit.fontawesome.com/b76a20a8f4.js" crossorigin="anonymous"></script>
<script>
    window.addEventListener('resize', () => {
        const divs = document.querySelectorAll(".menu-list");
        if (window.innerWidth < 768) {
            divs.forEach(div => div.classList.add("tags"));
        } else {
            divs.forEach(div => div.classList.remove("tags"));
        }
    });
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            $notification = $delete.parentNode;
            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });
</script>
<!-- Google absence -->
<!--<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1625817851923774",
        enable_page_level_ads: true
    });
</script>
</html>
